body  {
	margin: 0 auto;
	padding: 0;
	text-align: center;
    width: 1360px;
    font-family: montserrat, arial ,sans-serif;
}
a {
	display: inline-block;
	text-decoration: none;
}
a:hover {
	background-color: #25BEB5;
	cursor: pointer;

}
li {
	list-style: none;
}
header {

	min-height: 450px;
	background-image: url("img/roud.jpg");
	background-size: 1360px 450px;
}
header ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 30px;
	margin-left: 120px;
	margin-right: 120px;
	padding-left: 0;
}
header a {
	cursor: pointer;
}
h1 {
	margin-top: 120px;
	font-size: 50px;
}
.meeting {
	min-height: 150px;
	background-color: grey;
}
.meeting h2 {
	margin-top: 0;
}
.meeting-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
/*.meeting-list p {
	width: 100px;
	height: 20px;
	background-color: white;
}*/
.meeting-list button {
	border-radius: 20px;
	
}
.meeting-list li {
	display: flex;
}
                   /*причины*/
.reasons {
	min-height: 250px;
	
}
.reasons ul {
	display: flex;
	flex-direction: row;
	margin-right: 120px;
	margin-left: 120px;
	justify-content: space-between;
	padding-left: 0;
}
.reasons li {
	display: flex;
	flex-direction: column;
	border: 1px solid grey;
	width: 350px;
	box-shadow: 0px 10px 5px 5px /*rgba(0, 1, 1, 0.2)*/ grey;
}
.reasons p {
	text-align: left;
	padding-left: 10px;
	padding-right: 40px;
}
.item {
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.scills {
	background-color: orange;
}
.scills li {
	list-style-type: disc;
}
.scills ul {
	margin-left: 80px;
	text-align: left;
}
       /*работы*/
.works {
	min-height: 450px;
	background-color: gray;
}

                   /*footer*/

 footer {
 	
 display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	background-color: #594444;
 } 
 footer h3 {
 	margin-top: 5px;
 } 
 .footer-item1 {
 	display: flex;
 	flex-direction: column;
 	padding-left: 500px;
 	width: 650px;
 }
 .footer-item1 li {
 	width: 220px;
 }
 .footer-item1 a {
 	color: #000000;
 }
 .footer-item2 {
 	display: flex;
 	flex-direction: column;
 	padding-right: 500px;
 	width: 650px;
 }                